body {
    overflow-y: hidden;
}

#page {
    font-size: 12px;
    font-weight: bold;
    width: 56px;
    margin-bottom: 5px !important;
    padding: 6px !important;
    cursor: pointer;
    text-align: center;
    background-color: #ffffff;
    background-image: url(http://www.transparenttextures.com/patterns/arches.png);
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#logo {
    cursor: pointer;
}

#logo img {
    width: 100px;
}

div[id^="slide"] {
    position: relative;
    min-height: 600px;
    padding: 50px 20px 0 20px;
	background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png) !important;
}

.vertical-menu {
    position: fixed;
    top: 40%;
    right: 20px;
    width: 40px;
}

.vertical-menu-button {
    margin-bottom: 5px !important;
}

.vertical-menu-button-text {
    font-size: 30px;
}

.content {
    color: white;
}

.content #slide-home {
    background: #647de3;
	
}

.content #slide-p1 {
    background: #536fdf;
	
}

.content #slide-p2 {
    background: #4160dc;
	
}

.content #slide-p3 {
    background: #3052d9;
	
}

.content #slide-p4 {
    background: #2648cf;
	
}

.content #slide-p5 {
    background: #2240ba;
	
}

.content #slide-p6 {
    background: #203cac;
	
}

.content #slide-p7 {
    background: #1c369b;
	
}

.content #slide-p8 {
    background: #19308a;
	
}

.content #slide-p9 {
    background: #162a79;
	
}

.content #slide-p10 {
    background: #132467;
	
}

.content #slide-p11 {
    background: #101e56;
	
}

.content #slide-p12 {
    background: #0d1845;
	
	
}

.content #slide-p13 {
    background: #101e56;
	
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 960px;
    height: 90%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
}

#slide-p1 .wrapper {
    height: 70%;
}

.wrapper h1 {
    font-size: 60px;
    margin: 0;
}

.wrapper h2 {
    font-size: 40px;
}

.wrapper p {
    font-size: 18px;
    display: block;
    float: left;
}

.wrapper img {
    width: 50%;
    margin: 0 auto;
    margin-top: 8%;
}

.persons {
    display: flex;
}

.person {
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    .wrapper {
        width: 85%;
        height: 60%;
        margin-top:60px;
    }

    .wrapper h1 {
        font-size: 50px;
        margin: 30px 0 10px 0;
    }

    .wrapper h2 {
        font-size: 30px;
        margin: 0 0 20px 0;
    }

    .wrapper p {
        font-size: 18px;
        display: block;
        float: left;
    }

    .wrapper img {
        width: 60%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 768px) {
    .vertical-menu {
        display: none;
    }

    .wrapper {
        width: 95%;
        height: 60%;
        margin-top: 40px;
    }

    .wrapper h1 {
        font-size: 35px;
        margin: 30px 0 10px 0;
    }

    .wrapper h2 {
        font-size: 25px;
        margin: 0 0 20px 0;
    }

    .wrapper p {
        font-size: 14px;
        display: block;
        float: left;
    }

    .wrapper img {
        width: 60%;
        margin-top: 4%;
    }
}

@media screen and (max-width: 640px) {
    .vertical-menu {
        display: none;
    }

    .wrapper {
        width: 95%;
        height: 60%;
        margin-top: 20px;
    }

    .wrapper h1 {
        font-size: 30px;
        margin: 30px 0 10px 0;
    }

    .wrapper h2 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .wrapper p {
        font-size: 13px;
        display: block;
        float: left;
    }

    .wrapper img {
        width: 60%;
        margin-top: 4%;
    }
}

@media screen and (max-width: 320px) {
    .vertical-menu {
        display: none;
    }

    .wrapper {
        width: 95%;
        height: 60%;
        margin-top: 20px;
    }

    .wrapper h1 {
        font-size: 28px;
        margin: 30px 0 10px 0;
    }

    .wrapper h2 {
        font-size: 18px;
        margin: 0 0 20px 0;
    }

    .wrapper p {
        font-size: 12px;
        display: block;
        float: left;
    }

    .wrapper img {
        width: 60%;
        margin-top: 3%;
    }
}

.clearfix:after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
}
.clearfix { display: inline-block; }
/* start commented backslash hack */
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */